<a href="https://colab.research.google.com/github/kauebr/Projeto-Turing/blob/main/Teste_de_correla%C3%A7%C3%B5es_v_001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## C√≥digo Inicial ‚Äî Visualiza√ß√£o e Pr√©-Processamento dos Dados

Neste bloco, realizo a visualiza√ß√£o inicial do dataset do **Sistema de Informa√ß√µes sobre Mortalidade (SIM)**. Tamb√©m inicio o c√°lculo de colunas dependentes da vari√°vel alvo.

üìÑ **Fonte dos dados (CSV):**  
https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIM/DO23OPEN.csv

üìò **Dicion√°rio de Dados (Data Dictionary):**  
https://diaad.s3.sa-east-1.amazonaws.com/sim/Mortalidade_Geral+-+Estrutura.pdf

 **Site Base dos dados:**  
https://opendatasus.saude.gov.br/dataset/sim/

# Importando Bibliotecas e dados

In [ ]:
import pandas as pd
import numpy as np
import sklearn

In [3]:
url = 'https://s3.sa-east-1.amazonaws.com/ckan.saude.gov.br/SIM/DO23OPEN.csv'
df = pd.read_csv(url, sep=';', encoding='latin1')  # usa ; como separador e latin1 para acentua√ß√£o

df.head()  # mostra as primeiras linhas

<ipython-input-3-a0546687ad4a>:2: DtypeWarning: Columns (65) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url, sep=';', encoding='latin1')  # usa ; como separador e latin1 para acentua√ß√£o

,contador,ORIGEM,TIPOBITO,DTOBITO,HORAOBITO,NATURAL,CODMUNNATU,DTNASC,IDADE,SEXO,...,TPRESGINFO,TPNIVELINV,DTCADINF,MORTEPARTO,DTCONCASO,ALTCAUSA,CAUSABAS_O,TPPOS,TP_ALTERA,CB_ALT
0,1,1,2,14022023,930.0,833.0,330270.0,10071954.0,468,1,...,NaN,NaN,NaN,NaN,NaN,NaN,I10,NaN,NaN,NaN
1,2,1,2,14022023,1730.0,822.0,221110.0,12091956.0,466,1,...,NaN,NaN,NaN,NaN,NaN,NaN,I678,NaN,NaN,NaN
2,3,1,2,14022023,500.0,822.0,220790.0,10011953.0,470,2,...,NaN,NaN,NaN,NaN,NaN,NaN,K750,NaN,NaN,NaN
3,4,1,2,14022023,2235.0,823.0,231180.0,15121943.0,479,2,...,NaN,NaN,NaN,NaN,NaN,NaN,I64,S,NaN,NaN
4,5,1,2,14022023,940.0,841.0,411350.0,9041973.0,449,2,...,NaN,M,NaN,NaN,NaN,NaN,C189,S,NaN,NaN

In [5]:
# Exibindo o tamanho do modelo
df.shape

(1465610, 86)

In [8]:
# Caculando tamanho do nosso conjunto de dados(dataframe)
1465610 * 86

126042460

# An√°lise explorat√≥ria

In [11]:
df['CIRCOBITO']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
1465605    NaN
1465606    NaN
1465607    NaN
1465608    2.0
1465609    NaN
Name: CIRCOBITO, Length: 1465610, dtype: float64

count    153897.000000
mean          2.913208
std           2.678236
min           1.000000
25%           1.000000
50%           2.000000
75%           3.000000
max           9.000000
Name: CIRCOBITO, dtype: float64

In [21]:
df['CIRCOBITO'].isnull().sum()

np.int64(1311713)

In [31]:
# Total de entradas
total = len(df)

# Verifica√ß√µes
nulos = df['MUNIRES'].isnull().sum()
vazios = (df['MUNIRES'] == '').sum()
nan_texto = (df['MUNIRES'].astype(str).str.upper() == 'NAN').sum()

# Num√©ricos (exclui NaN e vazios antes de checar)
numericos = pd.to_numeric(df['MUNIRES'], errors='coerce').notna().sum()

# Percentuais
print("An√°lise da coluna MUNIRES (%):")
print(f"- Valores nulos (NaN/None): {nulos / total:.2%}")
print(f"- Valores em branco (''): {vazios / total:.2%}")
print(f"- Texto 'NaN': {nan_texto / total:.2%}")
print(f"- Valores num√©ricos v√°lidos: {numericos / total:.2%}")

KeyError: 'MUNIRES'

In [30]:
df.columns

Index(['contador', 'ORIGEM', 'TIPOBITO', 'DTOBITO', 'HORAOBITO', 'NATURAL',
       'CODMUNNATU', 'DTNASC', 'IDADE', 'SEXO', 'RACACOR', 'ESTCIV', 'ESC',
       'ESC2010', 'SERIESCFAL', 'OCUP', 'CODMUNRES', 'LOCOCOR', 'CODESTAB',
       'CODMUNOCOR', 'IDADEMAE', 'ESCMAE', 'ESCMAE2010', 'SERIESCMAE',
       'OCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'GRAVIDEZ', 'SEMAGESTAC',
       'GESTACAO', 'PARTO', 'OBITOPARTO', 'PESO', 'TPMORTEOCO', 'OBITOGRAV',
       'OBITOPUERP', 'ASSISTMED', 'EXAME', 'CIRURGIA', 'NECROPSIA', 'LINHAA',
       'LINHAB', 'LINHAC', 'LINHAD', 'LINHAII', 'CAUSABAS', 'CB_PRE',
       'COMUNSVOIM', 'DTATESTADO', 'CIRCOBITO', 'ACIDTRAB', 'FONTE',
       'NUMEROLOTE', 'DTINVESTIG', 'DTCADASTRO', 'ATESTANTE', 'STCODIFICA',
       'CODIFICADO', 'VERSAOSIST', 'VERSAOSCB', 'FONTEINV', 'DTRECEBIM',
       'ATESTADO', 'DTRECORIGA', 'OPOR_DO', 'CAUSAMAT', 'ESCMAEAGR1',
       'ESCFALAGR1', 'STDOEPIDEM', 'STDONOVA', 'DIFDATA', 'NUDIASOBCO',
       'DTCADINV', 'TPOBITOCOR', 'DTCONINV', 'FONTES', 'TPRESGINFO',
       'TPNIVELINV', 'DTCADINF', 'MORTEPARTO', 'DTCONCASO', 'ALTCAUSA',
       'CAUSABAS_O', 'TPPOS', 'TP_ALTERA', 'CB_ALT'],
      dtype='object')